@import "@fontsource-variable/inter";
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-sans: "Inter Variable", sans-serif;

	--text-xs: 0.75rem;
	--text-sm: 0.8125rem;
	--text-base: 0.875rem;
	--text-md: 0.875rem;
	--text-lg: 1rem;
	--text-xl: 1.125rem;
	--text-2xl: 1.25rem;
	--text-3xl: 1.5rem;
	--text-4xl: 1.875rem;
	--text-5xl: 2.25rem;
	--text-6xl: 3rem;
	--text-7xl: 3.75rem;
}
